.cs{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}
.main-hotel{
    padding: 2rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.inner-award{
    flex: 1 1 300px;
}
.inner-award img{
    width: 100%;
}
.our-rooms{
    padding: 2rem 7%;

}
.inner-rooms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-rooms .room-box{
    flex: 1 1 300px;
}
.inner-rooms .room-box img{
    width: 100%;
    padding: 1rem;
}
.gallery{
    padding: 2rem 7%;

}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
